<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.drools</package>
	<author>samuel</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.drools.DroolsActivator</activator>
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${eventVersion}">org.openmrs.event</require_module>
	    <require_module version="${patientFlagsVersion}">org.openmrs.module.patientflags</require_module>
	</require_modules>

	<!-- <aware_of_modules>
		<aware_of_module>org.openmrs.module.patientflags</aware_of_module>
	</aware_of_modules>
	 -->
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<globalProperty>
		<property>drools.storage_dir</property>
		<defaultValue>drools</defaultValue>
		<description>
			Default directory for storing Drools data
		</description>
	</globalProperty>
	
</module>

